<!-- Modus Header -->
<sx-toolbar-main (snavToggle)="snavToggleClick()" [panelIn]="panelIn"></sx-toolbar-main>
<sx-main-menu 
    [isVisible]="user!== undefined">
</sx-main-menu>
<mat-sidenav-container class="psm-container">
    <!-- [@onSideNavChange]="sideNavState"  opened [mode]="snavmode"  [panelVar]="panelInVar"-->
    <mat-sidenav #snav opened [mode]="snavmode" fixedTopGap="56">
        <sx-filter-panel   
            fptitle="PSM PRODUCT" icon="qr_code_2"
            [subtitle]="product?product.name:''"
            [logoUrl]="logoUrl"
            (closePanel)="snavToggleClick()"
            (openPanel)="snavToggleClick()">
            <psm-product-filter-panel (productEditClick)="editPsmProduct($event)"></psm-product-filter-panel>
            <!--
            <psm-company-filter-panel (companyEditClick)="companyEdit($event)"></psm-company-filter-panel>
            -->
        </sx-filter-panel>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="psm-content">
            <!-- Modus Panel 
             
            [subtitle]="airline.iata"
            (subtitleClick)="spmAirportOpen($event)"
            --
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="COMPANY" icon="location_city"
                (closePanel)="closeFilterPanel()"
                (openPanel)="expandFilterPanel()">
                
            </sx-filter-panel>
            
            <div class="psm-content-child" [ngClass]="{'psm-content-child-in': panelIn, 
                'psm-content-child-out': !panelIn }">
        -->
        
               
             
                <router-outlet></router-outlet>
                <!--
            </div>
        -->
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>