<div  *ngIf="user" class="side-panel-sec">
    <h2 class="w-100 bg-blue_mid lead-text text-white text-center mb-0 ellipsis">
        {{user.name}} 
        <span *ngIf="!user.name" class="pl-1"> {{user.email}}</span>
    </h2>
    <div class="w-full text-center white mb-2" 
        [ngClass]="{'bg-blue': user.role === admin,
                'bg-green': user.role === comAdmin,
                'bg-orange': user.role === undefined,
                'bg-blue_mid_2':user.role > comAdmin}">
        {{user.role  | psmuserrole }}
    </div>


    <div class="side-panel-sec-rows">
        <psm-side-panel-row-value label="ID" [value]="user.userId | number:'1.0-0'"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Name" [value]="user.name"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Email" [value]="user.email"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Type" [value]="user.role | psmuserrole"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Created On" [isDate]="true" [showTime]="false" [value]="user.adate"></psm-side-panel-row-value>
    </div>
    <div class="side-panel-sec-rows mt-3 mb-3">
        <psm-side-panel-row-value label="Company ID" [value]="user.companyId | number:'1.0-0'"></psm-side-panel-row-value>
        <psm-side-panel-row-value *ngIf="user.companyName" label="Company" [value]="user.companyName"></psm-side-panel-row-value>
        <psm-side-panel-row-value *ngIf="user.branchCode" label="Branch" [value]="user.branchCode"></psm-side-panel-row-value>
        <psm-side-panel-row-value *ngIf="user.companyTypeId" label="Company" [value]="user.companyTypeId | companytype"></psm-side-panel-row-value>
    </div>
    
            
</div>

      