<!--<mat-sidenav #snav [mode]="snavmode" opened
                 [fixedInViewport]="mobileQuery.matches" 
                 fixedTopGap="56">
    
    <button mat-icon-button color="white">
        <mat-icon>home</mat-icon>
    </button>
    -->
    <ul class="psm-links">
        <li>
            <a [routerLink]="['/', rootes.dashboard]" routerLinkActive="psm-link-active" [routerLinkActiveOptions]="{exact: false}" >
                <i matTooltipPosition="right" matTooltip="Dashboard"  class="material-icons">home</i>
                <span class="psm-link" [@showlinksTrigger]='showText'>DASHBOARD</span>
            </a>
        </li>
        <li *ngIf="company">
            <a [routerLink]="['/', rootes.company]" routerLinkActive="psm-link-active">
                <i matTooltipPosition="right" matTooltip="Company"  class="material-icons">location_city</i>
                <span class="psm-link" [@showlinksTrigger]='showText'>COMPANY</span>
            </a>
        </li>
    </ul>
    <!--
</mat-sidenav>
-->