<div class="header-bkg"></div>
<div class="close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title #title>
    MODULE
    <span>Edit product module info in PSM.</span>
</div>
<mat-dialog-content class="modal-body">
    <form class="flex-column w-100" [formGroup]="formGrp">

        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-12">
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Module Name" 
                [ngClass]="{'is-valid' : name.invalid === false , 'is-invalid':name.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="name.invalid">{{fError('name')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="col-6">
                <mat-label>Type</mat-label>
                <mat-select  formControlName="moduleTypeId" required>
                    <mat-option *ngFor="let ct of moduleTypeOpt" [value]="ct.id">
                    {{ct.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-6 pl-3">
                <div  *ngIf="product" class="side-panel-sec">
                    <div class="side-panel-sec-rows">
                        <psm-side-panel-row-value label="Product ID" [value]="product.psmProductId | number:'1.0-0'"></psm-side-panel-row-value>
                        <psm-side-panel-row-value label="Key" [value]="product.psmProductKey"></psm-side-panel-row-value>
                        <psm-side-panel-row-value label="Name" [value]="product.name"></psm-side-panel-row-value>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes" type="text"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onSubmit()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
</mat-dialog-actions>
