md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  min-width: 70px;
}

.psm{

    &-page{
        display: block;
        @include placement(relative, 0px, 0, 0, 0px);
        @include size(100%, 100%);
    }
    &-container{
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        padding-left: 70px;
        
        mat-sidenav {
            // width: 70px;
            @include size(320px, 100vh);
            //background-color: $menu-background;
            background: #fff;
            padding: 0px 20;
            min-width: 70px;
            
            &-expand{
                padding-top: 10px;
                @include text(30px, #fff);
                &:hover {
                    color:$menu-text;;
                    cursor: pointer;
                }
            }
            button{
                display: flex;
                padding-top: 32px;
                @include linx(#fff,$yellow-main, $yellow-main );
                &:hover > i {
                    color: $yellow-main;
                }
            }
           

            
          }
         
    }
    &-content{
        @include calc-min-height(100vh,$main-nav-height);
        /*padding: 13px 13px 13px 13px; */
        padding: 0px;
        width:100%;
        background-color: $page-backdrop;
        
        .page-header{
            margin:0px;
            padding:8px 4px 0px 8px;
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            align-items: center;
            min-height: 45px;
        }

        &-child{
            @include size(100%, auto);
            width:100%;
            padding:0px 4px;
            height: calc(100vh - 60px) !important;
            background-color: $page-backdrop;
            & > .page-header{
                margin:0px;
                padding:6px 4px 0px 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 45px;
            }

            &-out{
                @include calc-height(100vh, 60px);
                overflow-x: hidden;
                overflow-y: auto;
                padding-left: 0px; 
            }
            &-in{
                @include calc-height(100vh, 60px);
                overflow-x: hidden;
                overflow-y: auto;
                padding-left: 325px;         
            }

           
            &-blue{
                @extend .psm-content-child;
                @include gradient-blue-opaque(); 
                justify-content: center;
                align-items: center;
            }

            
        }
    }
    &-links{
        list-style: none;
        padding: 0px 0px 0px 3px;
        li a{
            display: flex;
            padding-top: 20px;
            @include linx(#fff,$yellow-main, $yellow-main );
            text-decoration: none;
            &:hover > i {
                color: $yellow-main;
            }
        }
        
        .material-icons{
            font-size: $f-24px;
            color:$menu-text;
        }
    }
    //Menu Link (plural)
    &-link{
        padding: 2px 0px 0px 20px;
        font-size: 0.8750em;
        white-space: nowrap;
        &-active{
            & > .material-icons{
                color: $yellow-main!important;
            }
            & > .main-menu-link{
                color:$yellow-main!important;
            }
        }
    }
    &-overlay{
        z-index: 1031;
        @include placement(fixed, 0px, null, null, 0px);
        @include size(100%, 100%);
        background-color: $transparent;
    }
}

hr{
    margin: 4px 0px;
    width: 100%;
    border-top: 1px solid $blue-main;
}
.active{
    color: $green-dark!important;
}

.page{
    &-header{
        @include flex-space-between();
    }
    &-title{
        margin-bottom:0px;
        padding-top: 5px;
        padding-left: 5px;
        @include text($f-18px,$blue-main, 400);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(20px,$yellow-main, 400);
        }
    }
    &-sub-title{
        padding-top: 5px;
        @include text(18px,$font, 300);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(18px,$yellow-main, 500);
        }
    }
    &-pagination{
        width: 100%;
        padding:10px;
        @extend .center-center;
    }
}