<div class="header-bkg"></div>
<div class="close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title #title>
    Company Edit
    <span>Edit company info in PSM.</span>
</div>
<mat-dialog-content class="modal-body">
    <form class="flex-column w-100" [formGroup]="formGrp">

        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-6 pr-3">
                <mat-label for="company_name">Name</mat-label>
                <input matInput type="text" formControlName="company_name" placeholder="Company Name Ltd"  required
                [ngClass]="{'is-valid' : company_name.invalid === false , 'is-invalid':company_name.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">account_balance</mat-icon>
                <mat-error *ngIf="company_name.invalid">{{fError('company_name')}}</mat-error>
                <mat-hint>Enter company name</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" class="col-6 pl-3">
                <mat-label for="branch_code">Branch</mat-label>
                <input matInput type="text" formControlName="branch_code" placeholder="HQ" 
                [ngClass]="{'is-valid' : branch_code.invalid === false , 'is-invalid':branch_code.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="branch_code.invalid">{{fError('branch_code')}}</mat-error>
                <mat-hint>Enter company branch code</mat-hint>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100 pt-2">
            <div class="flex-align-items col-6 pr-3">
                <div class="flex-start cflag">
                    <img [src]="flagUrl" alt="flag">
                 </div>
                 <mat-form-field appearance="standard" class="w-100 pl-3">
                    <input matInput placeholder="Country"
                       aria-label="Country"
                       [matAutocomplete]="countryAuto"
                       formControlName="country" required>
                       
                   <mat-autocomplete #countryAuto="matAutocomplete" 
                       [displayWith]="displayCountry" 
                       (optionSelected)="countryValueChange($event)">
                   <mat-option *ngFor="let option of countryOpt | async"  [value]="option">
                       <div class="flex flex-align-items">
                           <img class="flag-16 mr-2" [src]="option.flagUrl" alt="flag">
                           <div class="mr-2">{{option.name}}</div>
                           <div>{{option.iso2}} - {{option.region}}</div>
                       </div>
                   </mat-option>
                   </mat-autocomplete>
                 </mat-form-field>
            </div>
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pl-3">
                <mat-label>Company Type</mat-label>
                <mat-select  formControlName="company_type_id" required>
                    <mat-option *ngFor="let ct of companyTypeOpt" [value]="ct.id">
                    {{ct.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pr-3">
                <mat-label>Logo URL</mat-label>
                <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logo_url" >
                <mat-error *ngIf="logo_url.invalid">{{fError('logo_url')}}</mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pl-3">
                <mat-label>Website Url</mat-label>
                <input matInput  placeholder="https://your-company.com"  formControlName="web_url" >
                <mat-error *ngIf="branch_code.invalid">{{fError('web_url')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes" type="text"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onSubmit()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
</mat-dialog-actions>
<!--
<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
        </div>
    </div>
</mat-dialog-actions>
-->