<div class="page-header" >
    <sx-back-button></sx-back-button>
    <div *ngIf="product" class="title">{{product.name}}</div>
    <div *ngIf="!product" class="title">PRODUCT</div>
 </div>
 <hr class="mt-0">
 <div class="block relative w-100 p-0">

    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="psm-tabs mat-card" 
        [selectedIndex]="tabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="m-2">
                dashboard
            </div>
           
        </mat-tab>

        <!-- -TAB 1 City --> 
        <mat-tab label="Modules">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">extension</mat-icon>
                Modules <span *ngIf="moduleCount" class="pl-1">({{moduleCount|number:'1.0-0'}})</span>
            </ng-template>
            <psm-product-grid-psm-module tabindex="1" #moduleGrid
                (editPsmModuleClicked)="editPsmModule($event)"
                (addPsmModuleClicked)="addPsmModule()"
                (dataLoded)="initFields()">
            </psm-product-grid-psm-module>
        </mat-tab>

        <!-- -TAB 2 Connected Modules --> 
        <mat-tab label="Connected Modules">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 yellow">extension</mat-icon>
                Connected Modules <span *ngIf="connectedModuleCount" class="pl-1">({{connectedModuleCount|number:'1.0-0'}})</span>
            </ng-template>
            <psm-product-grid-psm-connected-module tabindex="2" #conmodGrid
                (dataLoded)="initFields()">
            </psm-product-grid-psm-connected-module>
        </mat-tab>
       
                
    </mat-tab-group>

 </div>