<div class="filter-panel-body">
    <hr/>
    <div class="flrx-align-items flex-space-between w-100">
        <div class="flex-align-items flex-start"></div>
        <div class="flex-align-items flex-end">
            <div class="" ngbDropdown  *ngIf="product">
                <sx-format-control 
                    class="link size-18"
                    label="" color="light"
                    [matMenuTriggerFor]="alMenu"
                    icon="calendar_view_day">
                </sx-format-control>
                <mat-menu #alMenu="matMenu">
                    <button *ngIf="canEdit" mat-menu-item class="link" (click)="ediProduct()">
                        <mat-icon>edit</mat-icon> 
                        <span>Edit Product</span>
                    </button>
                    <!--
                    <button mat-menu-item class="link" (click)="refreshAirline()">
                      <mat-icon>refresh</mat-icon> 
                      <span>Refresh Airline</span>
                  </button>
                  <div *ngIf="hqAirport" class="dropdown-divider"></div>
                  <button mat-menu-item  class="link" (click)="spmAirportOpen(hqAirport)">
                      <mat-icon>info</mat-icon> 
                      <span>HQ Airport {{hqAirport.apName}}</span>
                  </button>
                  <button mat-menu-item  class="link" (click)="solrAirport()">
                    <mat-icon>bug_report</mat-icon> 
                    <span>Solr Airport {{hqAirport.apName}}</span>
                </button>
                -->
                </mat-menu>
            </div>
            <sx-button-round 
                message="Refresh Data" position="below"
                (click)="refreshData()" 
                icon="refresh"> 
          </sx-button-round>
        </div>
    </div>
    <hr class="mt-1"/>
    <!--
    <div class="bg-white p-0">
        <mat-nav-list class="pt-0">
            <mat-list-item  class="border-b1"
                [routerLink]="['/',routs.company, routs.info]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <img matListAvatar [src]="logoUrl" [alt]="company.name">
                <h3 matLine>{{company.name}}</h3>
                <p matLine>
                    <span> {{company.branch}}</span>
                </p>
            </mat-list-item>
            <mat-list-item  class="border-b1"
                [routerLink]="['/',routs.company, routs.users]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListAvatar class="size-32 blue">people_outline</mat-icon>
                <h3 matLine>Users <span *ngIf="company && company.usersCount">({{company.usersCount | number:'1.0-0'}})</span></h3>
                <p matLine>
                    <span> manage company users</span>
                </p>
            </mat-list-item>
            <mat-list-item  class="border-b1"
                [routerLink]="['/',routs.company, routs.products]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListAvatar class="size-32 blue">holiday_village</mat-icon>
                <h3 matLine>Products <span *ngIf="company && company.pmsProductCount">({{company.pmsProductCount | number:'1.0-0'}})</span></h3>
                <p matLine>
                    <span> manage company products</span>
                </p>
            </mat-list-item>
        </mat-nav-list>
    </div>
-->
    <!--
  <psm-company-info-card [company]="company"></psm-company-info-card>     
    --> 
</div>
<!-- Panel Footer -->
<div class="filter-panel-footer">
    Panel Footer
</div>