<div  *ngIf="company" class="side-panel-sec">
    <h2 class="w-100 bg-blue_mid lead-text text-white text-center mb-0 ellipsis">
        {{company.name}} 
        <span *ngIf="company.branch" class="pl-1"> {{company.branch}}</span>
    </h2>
    <div class="w-full text-center white mb-2" 
        [ngClass]="{'bg-blue': company.typeId === contractor,
                'bg-green': company.typeId === mfr,
                'bg-orange': company.typeId === undefined,
                'bg-blue_mid_2': company.typeId === distr}">
        {{company.typeId  | companytype }}
    </div>


    <div class="side-panel-sec-rows">
        <psm-side-panel-row-value label="ID" [value]="company.companyId | number:'1.0-0'"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Name" [value]="company.name"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Branch" [value]="company.branch"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Type" [value]="company.typeId | companytype"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Created On" [isDate]="true" [showTime]="false" [value]="company.adate"></psm-side-panel-row-value>
    </div>
    <div class="side-panel-sec-rows mt-3 mb-3">
        <psm-side-panel-row-value label="EAN" [value]="company.eanMfrCode" infoMessage="Manufacturer Code (UCC, UPC or EAN)"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Country" [value]="company.countryId" [isContryId]="true"></psm-side-panel-row-value>
        <psm-side-panel-row-value *ngIf="company.parentCompanyId" label="Parent Company ID" [value]="company.parentCompanyId | number:'1.0-0'"></psm-side-panel-row-value>
    </div>
    <div class="side-panel-sec-rows mt-3 mb-3">
        <psm-side-panel-row-value label="Status" [value]="company.companyStatusId | companystatus"></psm-side-panel-row-value>
        <psm-side-panel-row-value label="Updated On" [isDate]="true" [showTime]="true" [value]="company.udate"></psm-side-panel-row-value>
    </div>        
      
    
    <!--
         <sx-company-livery [company]="company"></sx-company-livery>
    -->
   
    <!--
    <hr class="margin-top-5 margin-bottom-5 blue-hr">
    -->
</div>

      