<div class="sxtable-container-tab card mt-2 ml-0 mr-0 p-0 ">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1 f-w-300">Connected Modules</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    <!-- -->
                    <sx-button-round 
                        (click)="addPsmModule()"
                        [disabled]="!canEdit"
                        message="Add Module"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let module" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="gotoModule(module)"
                            [disabled]="!this.canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Product"> 
                        </sx-button-round>
                       
                            
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="editPsmModule(module)"
                            matTooltip="Edit Product {{module.moduleId}}">
                            edit
                        </mat-icon>
                         <!--
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        -->
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="pmId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div *ngIf="row.name"  class="flex-align-items w-100"
                        matTooltip="Product Module ID: {{row.pmId}}" 
                        matTooltipPosition="above">
                        <div>{{row.pmId | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200-sort  pl-2">
                    <div *ngIf="row.name"  class="flex-align-items w-100"
                        matTooltip="Module name: {{row.name}}" 
                        matTooltipPosition="above">
                        <div>{{row.name}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="moduleTypeId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-left">Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2 text-left">
                    {{row.moduleTypeId | psmmoduletype}}
                    <!--
                    <psm-image-logo-td [id]="row.pmsProductId" [imgUrl]="row.logoUrl" tooltip="Product {{row.name}} logo."></psm-image-logo-td>
                    -->
                </td>
            </ng-container>
            <ng-container matColumnDef="psmProductKey" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60">Product</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div *ngIf="row.name"  class="flex-align-items w-100"
                        matTooltip="Product key: {{row.psmProductKey}}" 
                        matTooltipPosition="above">
                        <div>{{row.psmProductKey}}</div>
                    </div>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="notes"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 pl-2">notes</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200 pl-2">
                    <div class="flex-align-items w-100">
                        {{row.notes}}
                    </div>
                    
                </td>
            </ng-container>
            
            <ng-container matColumnDef="moduleId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Module ID" matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >travel_explore</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 pr-3" 
                    matTooltip="Module ID: {{row.moduleId}}" 
                    matTooltipPosition="above">
                        <div>{{row.moduleId}}</div>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        showFirstLastButtons>
    </mat-paginator>
</div>