<div class="header-bkg"></div>
<div class="close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title #title>
    PROJECT
    <span>Edit project info in PSM.</span>
</div>
<mat-dialog-content class="modal-body">
    <form class="flex-column w-100" [formGroup]="formGrp">

        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-8">
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Project Name" 
                [ngClass]="{'is-valid' : name.invalid === false , 'is-invalid':name.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="name.invalid">{{fError('name')}}</mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="standard" class="col-4 pl-3">
                <mat-label>Status</mat-label>
                <mat-select  formControlName="status" required>
                    <mat-option *ngFor="let ct of statusOpt" [value]="ct.id">
                    {{ct.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="flex-align-items w-100">
            <div class="flex-align-items col-8">
                <div class="flex-start" style="min-width: 120px;">
                    <psm-image-logo-td [id]="project.productId" [imgUrl]="logoUrl" tooltip="Product logo."></psm-image-logo-td>
                 </div>
                 <mat-form-field appearance="standard" class="w-100 pl-3">
                    <input matInput placeholder="Product"
                       aria-label="Product"
                       [matAutocomplete]="productAuto"
                       formControlName="product" >
                       
                   <mat-autocomplete #productAuto="matAutocomplete" 
                       [displayWith]="displayProduct" 
                       (optionSelected)="productValueChange($event)">
                   <mat-option *ngFor="let option of productOpt | async"  [value]="option">
                       <div class="flex flex-align-items">
                           <div class="mr-2">{{option.name}}</div>
                           <div *ngIf="option.psmProductKey"> - {{option.psmProductKey}}</div>
                       </div>
                   </mat-option>
                   </mat-autocomplete>
                 </mat-form-field>
            </div>
            <mat-form-field appearance="standard" class="col-4 pl-3">
                <mat-label for="key">Account Key</mat-label>
                <input matInput type="text" formControlName="key" placeholder="Account Key" 
                [ngClass]="{'is-valid' : key.invalid === false , 'is-invalid':key.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="key.invalid">{{fError('key')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes" type="text"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onSubmit()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
</mat-dialog-actions>
