<mat-toolbar color="primary" class="main-nav-container">
    <div class="flex-start flex-align-items">
      <!--
      <div [@showHideTriggerFlex]='paneBtnVar' *ngIf="paneBtnHide" class="link-white-r" style="min-width: 40px;">&nbsp;</div>
      -->
      <button [@delayFadeInTrigger]='paneBtnVar'  mat-icon-button (click)="snavToggleClick()" class="link-white-r">
        <mat-icon *ngIf="panelIn" class="size-24">chevron_left</mat-icon>
        <mat-icon *ngIf="!panelIn" class="size-24">chevron_right</mat-icon>
        
      </button>
      <a  [routerLink]="['/dashboard']" href="#">
        <img class="main-logo" [src]="logoImgUrl" alt="Logo">
      </a>
    </div>
    <div class="flex-end flex-align-items">
      <div  class="main-nav-links">
        <div class="h-100 flex-align-items">
          <button mat-button color="white">PSM</button>
        </div>
      </div>
      <div class="main-nav-notication" placement="left" ngbPopover="Cart" triggers="mouseenter:mouseleave">
        <div class="wheelbarrow-count">0</div>
        <div  class="wheelbarrow-icon">
          <sx-project-button *ngIf="isLoggedIn" class="wheelbarrow"></sx-project-button>
          <!--
          <img [src]="logoImgUrl" alt="wheelbarrow" class="wheelbarrow">
          -->
        </div>
        <div  class="main-nav-icon" (click)="toggleSpinner()">&nbsp;</div>
        <div  *ngIf="!company"  class="main-nav-icon" (click)="showToastr()">&nbsp;</div>
        <div  *ngIf="company"  class="main-nav-icon" [matMenuTriggerFor]="menuCompany">
          <mat-icon class="white" matTooltip="Company" >location_city</mat-icon>
          <!--
          <button *ngIf="company" mat-icon-button 
            [matMenuTriggerFor]="menuCompany">
            <mat-icon>location_city</mat-icon>
          </button>
        -->
          <mat-menu #menuCompany="matMenu">
            <button *ngIf="user" mat-menu-item class="link" (click)="gotoUserProfile(user)"> 
              <mat-icon>perm_identity</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item class="link">
              <mat-icon>apartment</mat-icon>
              <span>Company</span>
            </button>
          </mat-menu>
        </div>
        

        <div  *ngIf="!isLoggedIn" class="main-nav-icon" (click)="loginDialogShow()" >
          <mat-icon matTooltip="Login">person</mat-icon>
        </div>
        <div  *ngIf="isLoggedIn" class="main-nav-icon" (click)="logout()" >
          <mat-icon class="orange" matTooltip="Logout">logout</mat-icon>
        </div>
      </div>
    </div>
    
  
  </mat-toolbar>