<div class="header-bkg"></div>
<div class="close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title #title>
    USER
    <span>Edit user info in PSM.</span>
</div>
<mat-dialog-content class="modal-body">
    <form class="flex-column w-100" [formGroup]="formGrp">
        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-6 pr-3">
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="User Name"  required
                [ngClass]="{'is-valid' : name.invalid === false , 'is-invalid':name.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">account_balance</mat-icon>
                <mat-error *ngIf="name.invalid">{{fError('name')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-6 pr-3">
                <mat-label for="email">Email</mat-label>
                <input matInput type="text" formControlName="email" placeholder="user@emai.address"  required
                [ngClass]="{'is-valid' : email.invalid === false , 'is-invalid':email.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">account_balance</mat-icon>
                <mat-error *ngIf="email.invalid">{{fError('email')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="col-6 pl-3">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="password" 
                [ngClass]="{'is-valid' : password.invalid === false , 'is-invalid':password.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="password.invalid">{{fError('password')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100 pt-2">
            <div class="flex-align-items col-6 pr-3">
                 <mat-form-field appearance="standard" class="w-100 pl-2">
                    <input matInput placeholder="Company"
                       aria-label="Company"
                       [matAutocomplete]="companyAuto"
                       formControlName="company" required>
                       
                   <mat-autocomplete #companyAuto="matAutocomplete" 
                       [displayWith]="displayCompany" 
                       (optionSelected)="companyValueChange($event)">
                   <mat-option *ngFor="let option of companyOpt | async"  [value]="option">
                       <div class="flex flex-align-items">
                           <div class="mr-2">{{option.name}}</div>
                           <div>{{option.branch}}</div>
                       </div>
                   </mat-option>
                   </mat-autocomplete>
                 </mat-form-field>
            </div>
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pl-3">
                <mat-label>Role</mat-label>
                <mat-select  formControlName="role" required>
                    <mat-option *ngFor="let ct of roleOpt" [value]="ct.id">
                    {{ct.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onSubmit()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
</mat-dialog-actions>
