<div *ngIf="company" class="livery" matTooltip="{{tooltip}}" (click)="liveryClick()" [ngClass]="imageClass" >

    <img *ngIf="imageUrl;else noImage" [src]="imageUrl" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
    <ng-template #noImage>
        <img [ngClass]="imageClass" [src]="noImageUrl">
    </ng-template>
    
</div>
