<div class="welcome-container">
    <div class="welcome-text">
        <span>Project Story Management</span> is the common template of stories that involve a hero 
        who goes on an adventure, is victorious in a decisive crisis, and comes home changed or transformed.
    </div>
    <div class="welcome-text login-welcome-text-mdnone">
        <img class="img-left" [src]="herojurneyUrl" alt="Illustration of the hero's journey"/>
        Based on the narrative pattern of the monomyth and current Agile iterative approach 
        the <span>Project Story Management</span> fasilitets a team as helping manage a 
        project by breaking it up into several story and phases. <br/><br/>
        Not all projects necessarily contain all stages explicitly.  Some myths(story) may focus on 
        only one of the stages,  while others may deal with the stages in a somewhat different order.
        The stages are the individual themes which are "bundled" or assembled into the structure of the project.<br/><br/>
        <!--
        Stages may be organized in a number of ways, including division into three "acts" or sections:
        <ol>
            <li>Departure (also Separation),</li>
            <li>Initiation (sometimes subdivided into A. Descent and B. Initiation)</li>
            <li>Return</li>
        </ol> -->
        A hero ventures forth from the world of common day into a region of supernatural wonder: 
        fabulous forces are there encountered and a decisive  victory is won: the hero comes back 
        from this mysterious adventure with the power to bestow boons on his fellow man..
    </div>
    <div class="welcome-text">
        The project is not funded, and is constructed on the basis of voluntary labor starting from Aug 24, 2021.
    </div>
    <div class="welcome-text">
        Although still in the mode of development,
        <span>the project is accessible to users</span>.
    </div>
</div>
