   <!-- live button -->
    <button  
        type="{{type || 'button'}}" 
        class="btn-flat"
        [disabled]="disabled"
        [ngClass]="{'btn-flat-blue ' : color === 'light', 
                    'btn-flat-white' : color === 'dark',
                    'btn-flat-red' : color === 'delete',
                    'btn-flat-active' : active, 
                    'btn-flat-disabled' : disabled}">
         <i class="material-icons" >{{icon}}</i>
        <ng-content></ng-content>
    </button> 
  
