<!-- Large Nav  -->
<div *ngIf="isVisible" [@expandTrigger]='navStateVar' class="main-menu"></div>

<!-- Small Nav -->
<div *ngIf="isVisible" class="main-menu" >
  <span (click)='toggleMenu()' class="main-menu-expand material-icons">view_headline</span>
  <ul class="main-menu-links">
    <li>
      <a [routerLink]="['/', rootes.dashboard]" routerLinkActive="main-menu-link-active" [routerLinkActiveOptions]="{exact: false}">
        <i matTooltipPosition="right" matTooltip="Dashboard" class="material-icons">home</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>DASHBOARD</span>
      </a>
    </li>
    <li *ngIf="company">
      <a [routerLink]="['/', rootes.company]"  routerLinkActive="main-menu-link-active">
        <i matTooltipPosition="right" matTooltip="Company" class="material-icons">location_city</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>COMPANY</span>
      </a>
    </li>
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/bom']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="Lists" class="material-icons">format_list_numbered</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>LISTS</span>
      </a>
    </li>
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/custom-price-column']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="Custom Pricing" class="material-icons">monetization_on</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>CUSTOM PRICING</span>
      </a>
    </li>
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/supplier-xchange']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="Supplier Xchange" class="material-icons">store</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>SUPPLIER XCHANGE</span>
      </a>
    </li>
    
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/submittal-manager']" routerLinkActive="main-menu-link-active" #sm_home="routerLinkActive">
        <i placement="right" ngbTooltip="Submittal Manager" class="material-icons" >library_books</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>SUBMITTAL MANAGER</span>
      </a>
    </li>
    <!--
    <li *ngIf="!isManufacturer">
      <a (click)="gotoTsoSubman()" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="{{tsoSubmanTitle}}" class="material-icons">library_books</i>
      <span class="main-menu-link" [@showlinksTrigger]='linksVar'>SUBMITTAL MANAGER</span>
      </a>
    </li>
    -->
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/neca']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="NECA Labor" class="material-icons">build</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>NECA LABOR</span>
      </a>
    </li>
    <!-- -PIM hidden, do not believe in use Ogden 5-18-2018-->
    <!-- <li><a (click)='closeMenu()' [routerLink]="['/dashboard']" routerLinkActive="main-menu-link-active"><i class="material-icons">cloud</i><span class="main-menu-link" [@showlinksTrigger]='linksVar' >PIM</span></a></li> -->
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/e-data-flex']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="eDataFlex" class="material-icons">blur_on</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>eDataFlex</span>
      </a>
    </li>
   
    <li *ngIf="isManufacturer">
      <a [routerLink]="['/downloads']" routerLinkActive="main-menu-link-active">
        <i placement="right" ngbTooltip="Downloads" class="material-icons">file_download</i>
        <span class="main-menu-link" [@showlinksTrigger]='linksVar'>DOWNLOADS</span>
      </a>
    </li>
  </ul>
</div>

<div (mouseenter)='closeMenu()' [@showOverlayTrigger]='overlayVar' class="main-menu-overlay"></div>