// Gray Colors

$white:    #fff !default;
$gray-50:  #f9f9fb !default;
$gray-100: #F3F3F7 !default;
$gray-150: #EAEAEF !default;
$gray-200: #E2E2E7 !default;
$gray-250: #D0D0D7 !default;
$gray-300: #BFBFC6 !default;
$gray-350: #AEAEB6 !default;
$gray-400: #9D9DA6 !default;
$gray-450: #8C8B96 !default;
$gray-500: #7B7A86 !default;
$gray-550: #6A6976 !default;
$gray-600: #595868 !default;
$gray-700: #363545 !default;
$gray-750: #262533 !default;
$gray-800: #1B1A26 !default;
$gray-900: #0B0A12 !default;
$black:    #000 !default;
$gray-colors: () !default;

$gray-colors: map-merge(
  (
    "gray-50":  $gray-50,
    "gray-100": $gray-100,
    "gray-150": $gray-150,
    "gray-200": $gray-200,
    "gray-250": $gray-250,
    "gray-300": $gray-300,
    "gray-350": $gray-350,
    "gray-400": $gray-400,
    "gray-450": $gray-450,
    "gray-500": $gray-500,
    "gray-550": $gray-550,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-750": $gray-750,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
  ),
  $gray-colors
);

// Root Colors
$selected:  #dcedf9!default;
$blue_dark: #002D5B!default;
$blue:      #00437B!default;
$blue_mid:  #005F9E!default;
$blue_mid_2:#007bff !default;
$blue_light:#009AD9;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #e83e8c !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$green-dark:#23903c !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;
$font-color:rgba(0,0,0,.87);

$colors: () !default;

$colors: map-merge(
  (
    "blue_dark":       $blue_dark,
    "blue_1":         $blue,
    "blue_mid":     $blue_mid,
    "blue_mid_2":   $blue_mid_2,
    "blue_light":   $blue_light,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "selected":   $selected
  ),
  $colors
);

// Background colors

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: $color linear-gradient(180deg, mix($selected, $color, 15%), $color) repeat-x !important;
  }
}

@each $color, $value in $colors {
  @include bg-gradient-variant('.bg-#{$color}', $value);
}
@each $color, $value in $gray-colors {
  @include bg-gradient-variant('.bg-#{$color}', $value);
}
