/*------------------------------------------------*/
/*  FORMAT TEXT                                   */
/*------------------------------------------------*/
.ellipsis{
    @include ellipsis(100%);
}
.text-align-center{
    text-align: center!important;
}
.text-l{
    text-align: left;
}
.text-r{
    text-align: right;
}
.bold{
    font-weight: 800!important;
}
.semi-bold{
    font-weight: 600!important;
}
.regular{
    font-weight: 400!important;
}
.thin{
    font-weight: 300!important;
}
.size{
    &-32{
        font-size: $f-32px;
    }
    &-28{
        font-size: $f-32px;
    }
    &-24{
        font-size: $f-24px;
    }
    &-20{
        font-size: $f-20px;
    }
    &-18{
        font-size: $f-18px!important;
    }
    &-16{
        font-size: $f-16px!important;
    }
    &-14{
        font-size: $f-14px!important;
    }
    &-12{
        font-size: $f-12px!important;
    }
    &-10{
        font-size: $f-10px;
    }
    &-8{
        font-size: $f-8px;
    }
}

/*------------------------------------------------*/
/*  QUICK FLEX FORMAT                             */
/*------------------------------------------------*/
.flex{
    display: flex;
    &-col{
        display: flex;
        flex-direction: column;
    }
    &-center{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-wrap{
        @extend .flex;
        flex-wrap: wrap;
    }
    &-end{
        display: flex;
        justify-content: flex-end;
    }
    &-start{
        display: flex;
        justify-content: flex-start;
    }
    &-align-items{
        display: flex;
        align-items: center;
    }
    &-space-between{
        @extend .flex;
        justify-content: space-between;
    }
}

.center-center{
    @extend .flex-align-items;
    @extend .flex-center;
}

/*------------------------------------------------*/
/*  BACKGROUND MAIN COLORS                        */
/*------------------------------------------------*/
.orange-bg{
    background:$orange-main;
}
.blue-bg{
    background:$blue-main;
}
.yellow-bg{
    background:$yellow-main!important;
}
.light-blue-bg{
    background:$light-blue;
}
.light-blue-light-bg{
    background:$light-blue-light;
}
.very-light-blue-bg{
    background:$very-light-blue;
}
.green-bg{
    background: $green-success;
}
.green-light-bg{
    background:lighten($green-success, 10% );
}
.dark-green-bg{
    background: green;
}
.orange-light-gg{
    background:lighten( $orange-main, 30% );
}
.gray-bg{
    background:$page-backdrop!important;
}
.dark-gray-bg{
    background:$gray-light!important;
}
.white-bg{
    background:#ffffff!important;    
}

/*------------------------------------------------*/
/*  TEXT MAIN COLORS                              */
/*------------------------------------------------*/
.orange{
    color:$orange-main!important;
}
.orange-light{
    color:lighten($orange-main, 30% );
}
.blue{
    color:$blue-main!important;
}
.blue-light{
    color:$light-blue!important;
}
.yellow{
    color:$yellow-main!important;
}
.white{
    color:white!important;
}
.red{
    color: $red!important;
}
.red-light{
    color:#ffd9cc!important;
}
.gray{
    color:$gray-dark!important;
}
.gray-dark{
    color:$font;
}
.green{
   color:$green!important;
}
.green-dark{
    color:darken( $green-dark, 10% )!important;
}
.pink {
    color:$pink!important;
}

/*------------------------------------------------*/
/*  TQUICK POSITION FORMAT                        */
/*------------------------------------------------*/
.base-line{
    vertical-align: baseline;
}
.inherit{
    position: inherit!important;
}
.none{
    display: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hidden{
    display: none!important;
}
.block{
    display: block;
}

/*------------------------------------------------*/
/*  SHADOWS                                       */
/*------------------------------------------------*/
.heavy-shadow{
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27)!important;
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27)!important;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27)!important;
}
.border-b{
    border-bottom: 1px solid $gray-dark; 
}
