/*------------------------------------------------*/
/*  COLORS                                        */
/*                                                */
/*  BLACK                                         */
/*------------------------------------------------*/
$font:#666;
$font-dark:darken( $font, 15% );
$font-light: lighten( $font, 10% );
$transparent: rgba(0,0,0,0.3);
$black: #1B1927;

/*------------------------------------------------*/
/*  BLUE                                          */
/*------------------------------------------------*/
$blue-main: #3f51b5; //rgba(63, 81, 181, 1)
$blue-dark: #00437B; //rgba(0, 67, 123, 1)
$menu-background: #003D5B;//rgba(0, 61, 91, 1)
$blue-black: darken( $blue-dark, 10% );
$light-blue: #009AD9;
$light-blue-light: lighten($light-blue, 10%);
$very-light-blue: lighten($light-blue, 50%);

/*------------------------------------------------*/
/*  YELLOW                                        */
/*------------------------------------------------*/
$yellow-main: #FFBE00; //rgba(255, 190, 0, 1)
$yellow-light: #FFD200;
$yellow-white: lighten($yellow-light , 10% );

/*------------------------------------------------*/
/*  ORANGE                                        */
/*------------------------------------------------*/
$orange-main: #ff8b00; // rgba(255, 139, 0, 1)

/*------------------------------------------------*/
/*  RED                                           */
/*------------------------------------------------*/
$red: #A51D25;
$red-light: lighten( $red, 10% );
$red_dark: #BC0911;
$red_pale: #F4D1D3;

/*------------------------------------------------*/
/*  GRAY                                          */
/*------------------------------------------------*/
$gray: #EDEDEF;
$gray-light: #E2E2E7;
$gray-dark: #AEAEB6;
$scroll-gray: #f4f4f4;
$page-backdrop: #f2f2f2;

/*------------------------------------------------*/
/*  GREEN                                         */
/*------------------------------------------------*/
$green-success: #94D891;
$green: #3a9735;
$green-dark: #2b7128;
$green-light: #48bd42;

/*------------------------------------------------*/
/*  PINK                                          */
/*------------------------------------------------*/
$pink: #F056B5;

/*------------------------------------------------*/
/*  BACKGROUND                                    */
/*------------------------------------------------*/
$yellow-main-background: lighten($yellow-main, 30%);
$yellow-dark-background: lighten($yellow-light, 35%);

/*------------------------------------------------*/
/*  TYPOGRRAPHY                                   */
/*                                                */
/*  FONTS                                         */
/*------------------------------------------------*/
$font-stack: 'Open Sans', sans-serif;
$font-small: 12px;
$font-med: 14px;
$font-large: 16px;
$font-xl: 18px;
$font-xxl: 20px;

$f-8px: 0.500em;
$f-10px: 0.625em;
$f-12px: 0.7500em;	
$f-13px: 0.8125em;	
$f-14px: 0.8750em;	
$f-15px: 0.9375em;	
$f-16px: 1.0000em;	
$f-17px: 1.0625em;	
$f-18px: 1.1250em;	
$f-19px: 1.1875em;	
$f-20px: 1.2500em;	
$f-21px: 1.3125em;	
$f-22px: 1.3750em;	
$f-23px: 1.4375em;	
$f-24px: 1.5000em;	
$f-28px: 1.75em;
$f-32px: 2em;

/*------------------------------------------------*/
/*  GRAPH                                         */
/*------------------------------------------------*/
$blue-graph: rgba(0, 154, 217, 0.58);
$yellow-graph: rgba(255, 165, 0, 0.58);

/*------------------------------------------------*/
/*  SIDEBAR                                       */
/*------------------------------------------------*/
$sidebar-width: 5px;
$gutter: 16px !default;
/*------------------------------------------------*/
/*  TOOLBAR                                       */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* TOOLBAR VARIABLES                                     */
/*------------------------------------------------*/
$nav-link: #fff;
$menu-text: #fff;
$main-nav-height: 60px;
$page-nav-height: 64px !default;