<div class="page-header" >
    <sx-back-button></sx-back-button>
    <div class="title">COMPANY PROJECTS</div>
 </div>
 <hr class="mt-0">
 <div class="flex-align-items relative w-100 p-2">
     <psm-grid-psm-com-psm-project 
     (addPsmProjectClicked)="addPsmProject($event)"
     (editPsmProjectClicked)="editPsmProject($event)">
     </psm-grid-psm-com-psm-project>
 </div>
