
<div class="sp-row">

    <div class="sp-label"   [ngClass]="{'sp-label-large ' : size === 'large', 
        'sp-label-med' : (size === 'med'),
        'sp-label-small' : (size === 'small')}">
        {{label}}
    </div>

    <div *ngIf="isPrice && value" class="sp-value">
        {{valueD | currency:'USD':true:'1.2-5'}}
    </div>

    <div *ngIf="isDate && value" class="sp-value"
        matTooltip="{{label}}: {{value | date:'MMM d, y'}}" matTooltipPosition="above" triggers="mouseenter:mouseleave">
        <div class="flex-align-items w-100">
            <div *ngIf="showTime" class="mr-2 flex-align-items">
                <i class="material-icons size-18 mr-1">access_time</i>
                <span class=" size-14">{{value | date:'HH:mm'}}</span>
            </div>
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-1">event_note</i>
                <span class=" size-14">{{value | date:'MMM d, y'}}</span>
            </div>
        </div>
    </div>

     <div *ngIf="!isPrice && !isDate && !isContryId" class="sp-value">
        <div class="flex-align-items w-full" 
            matTooltip="{{label}}: {{value}}" matTooltipPosition="above" 
            triggers="mouseenter:mouseleave">{{value}}
        </div>
    </div>
    <div *ngIf="isContryId && country" class="sp-value">
        <div class="flex-align-items w-full">
            <img class="flag-16 mr-2" [src]="country.flagUrl" alt="flag">
            <div class="mr-2">{{country.name}}</div>
            <div>{{country.iso2}} - {{country.region}}</div>
        </div>
    </div>

    <div *ngIf="infoMessage" class="sp-row-line-info">
        <psm-button-info 
            class="absolute" 
            message="{{infoMessage}}">
        </psm-button-info>
    </div>
</div>
