<div class="page-header" >
   <sx-back-button></sx-back-button>
   <div class="title">USER PROFILE</div>
</div>
<hr class="mt-0">
<div class="flex-align-items w-100 p-2">
   <pms-user-avatar-480-card [user]="profile"></pms-user-avatar-480-card>

   <mat-card class="mr-0 ml-2 flex-fill" style="height: 480px;">
      <mat-card-header class="border-b1">
          <mat-card-title>Information</mat-card-title>
          <mat-card-subtitle class="mb-2">&nbsp;</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="w-100 h-100">
          <psm-user-info-card [user]="user" [company]="company"></psm-user-info-card>  
          <div class="p-2 flex flex-center w-100">
              
          </div>   
      </mat-card-content>
  </mat-card>
</div>
