<div *ngIf="company" class="livery" >
    <div class="image">
        <img *ngIf="imageUrl;else noImage" [src]="imageUrl" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
        <ng-template #noImage>
            <img [ngClass]="imageClass" (load)="onImageLoad()" [src]="noImageUrl">
        </ng-template>
    </div>
    <div class="title">{{company.name}}</div>
</div>
