<div class="page-header" >
    <sx-back-button></sx-back-button>
    <div class="title">COMPANY PROFILE</div>
 </div>
 <hr class="mt-0">
<div class="flex-align-items w-100 p-2">
    <sx-company-logo-480-card [company]="company"></sx-company-logo-480-card>
    <mat-card class="mr-0 ml-2 flex-fill" style="height: 480px;">
        <mat-card-header class="border-b1">
            <mat-card-title>Information</mat-card-title>
            <mat-card-subtitle class="mb-2">&nbsp;</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="w-100 h-100">
            <psm-company-info-card [company]="company"></psm-company-info-card>  
            <div class="p-2 flex flex-center flex-wrap w-100">
                <div class="image-livery m-0" matTooltip="Click to generate default company livery" (click)="generateLiveryClick()">
                    <img *ngIf="liveryUrl;else noLivery" [src]="liveryUrl" >
                    <ng-template #noLivery >
                        <img [src]="noImageUrl">
                    </ng-template>
                </div>
                <div class="scroll-box-h270-white pt-0">
                    <sx-product-line *ngFor="let product of productOpt" [product]="product"
                        (grandProduct)="addProduct($event)"
                        (revokeProduct)="addProduct($event)">
                    </sx-product-line>
            
                </div>
            </div>   
        </mat-card-content>
    </mat-card>
</div>