<mat-card class="mat-logo">
    <mat-card-header>
        <mat-card-title>Avatar</mat-card-title>
        <mat-card-subtitle matTooltip="An avatar is a visual representation of a person for use in digital contexts.">
            An avatar is a visual representation of a person for use in digital contexts.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
        <div class="image-410">
            <img *ngIf="imgUrl;else noImageAvailable" [src]="imgUrl" >
            <ng-template #noImageAvailable >
                <img [src]="noImgUrl" >
            </ng-template>
        </div>
  </mat-card-content>
  
  <!--
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
-->
</mat-card>