<mat-card class="user-card">
    <mat-card-header>
        
        <div class="context-menu">

            <div *ngIf="user.role === roleOpt.Admin"  class="size-12 blue-light flex-align-items mr-1">
                <i class="material-icons size-18 m-r-4">perm_identity</i> ADMIN
            </div>
            <div *ngIf="user.role === roleOpt.CompanyAdmin"  class="size-12 blue-light flex-align-items mr-1">
                <i class="material-icons size-18 m-r-4">business</i> COMPANY
            </div>
            <div *ngIf="user.isReceiveEmails"  class="size-12 blue-light flex-align-items mr-1">
                <i class="material-icons size-18 link" (click)="sendEmailClick()" matTooltip="Click to send an email to user.">email</i>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="userContextMenu" class="mat-icon-button-24"
                aria-label="Context Menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #userContextMenu="matMenu" xPosition ="before">
                <button *ngIf="user" mat-menu-item class="link" (click)="gotoUserProfile()"> 
                    <mat-icon>perm_identity</mat-icon>
                    <span>Profile</span>
                </button>
                <a mat-menu-item *ngIf="user.isReceiveEmails" (click)="sendEmailClick()">
                    <mat-icon>email</mat-icon>
                    <span>Send E-Mail</span>
                </a>
                <a mat-menu-item *ngIf="isAdmin" (click)="editUserClick()" class="link">
                    <mat-icon class="blue link">edit</mat-icon>
                    <span>Edit User</span>
                </a>
            </mat-menu>
            
        </div>
        
        <img mat-card-avatar class="align-middle link"
            [src]="imgUrl" width="24" 
            alt="avatar" (click)="gotoUserProfile()"/>
        <mat-card-title class="link" (click)="gotoUserProfile()">{{user.name}}</mat-card-title>
        <mat-card-subtitle class="link ellipsis" (click)="gotoUserProfile()">{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="flex-align-items mt-3">

        <img mat-card-image [src]="imgUrl" alt="{{user.name}}">
        <div  *ngIf="user" class="side-panel-sec">
            <div class="side-panel-sec-rows">
                <psm-side-panel-row-value size="med" label="ID" [value]="user.userId" ></psm-side-panel-row-value>
                <psm-side-panel-row-value size="med" label="Created On" [value]="user.adate"  [isDate]="true" ></psm-side-panel-row-value>
                <psm-side-panel-row-value size="med" label="Updated On" [value]="user.udate" [isDate]="true" [showTime]="false"></psm-side-panel-row-value>
            </div>
        </div>
        
    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    -->
</mat-card>