    <div class="header-bkg"></div>
    <div class="close" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </div>
    
    <div mat-dialog-title>
      Login
      <span>Please enter your email address and password.</span>
    </div>
    
    <mat-dialog-content class="modal-body">

        <form class="flex-column w-100" [formGroup]="formGrp">

          <mat-form-field appearance="standard" class="col-12 w-100">
            <mat-label for="sx_email">Email</mat-label>
            <input matInput value="" type="email" [formControl]="sx_email" placeholder="your@email.address" required
            [ngClass]="{'is-valid' : sx_email.invalid === false , 'is-invalid':sx_email.invalid === true}">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="sx_email.invalid">{{fError('sx_email')}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="col-12 w-100">
            <mat-label for="sx_password">Password</mat-label>
            <input matInput value="" type="password" [formControl]="sx_password"  required
            [ngClass]="{'is-valid' : sx_password.invalid === false , 'is-invalid':sx_password.invalid === true}">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="sx_password.invalid">{{fError('sx_password')}}</mat-error>
            <mat-hint>Minimum password lenght is 5 symbols.</mat-hint>
          </mat-form-field>
         
        </form>
      
        
    </mat-dialog-content>

    <mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items ">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onLoginClick()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
    </mat-dialog-actions>
