<div class="header-bkg"></div>
<div class="close" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title #title>
    PRODUCT
    <span>Edit product info in PSM.</span>
</div>
<mat-dialog-content class="modal-body">
    <form class="flex-column w-100" [formGroup]="formGrp">

        <div class="flex-align-items w-100">
            <mat-form-field appearance="standard" class="col-6 pr-3">
                <mat-label for="psmProductKey">Key</mat-label>
                <input matInput type="text" formControlName="psmProductKey" placeholder="PK"  required
                [ngClass]="{'is-valid' : psmProductKey.invalid === false , 'is-invalid':psmProductKey.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">account_balance</mat-icon>
                <mat-error *ngIf="psmProductKey.invalid">{{fError('psmProductKey')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="col-6 pl-3">
                <mat-label for="name">Branch</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Product Name" 
                [ngClass]="{'is-valid' : name.invalid === false , 'is-invalid':name.invalid === true}">
                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                <mat-error *ngIf="name.invalid">{{fError('name')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pr-3">
                <mat-label>Logo URL</mat-label>
                <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logoUrl" >
                <mat-error *ngIf="logoUrl.invalid">{{fError('logoUrl')}}</mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="always" appearance="standard" class="col-6 pl-3">
                <mat-label>Website Url</mat-label>
                <input matInput  placeholder="https://your-company.com"  formControlName="webUrl" >
                <mat-error *ngIf="webUrl.invalid">{{fError('webUrl')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex-align-items w-100">
            <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes" type="text"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="w-100 flex-align-items flex-space-between mt-3">
      <div class="flex-start flex-align-items">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end">
        <button *ngIf="!hasSpinner" mat-fab color="primary"
          [disabled]="formGrp.invalid" 
          (click)="onSubmit()">
          <i class="modus-icon material-icons">account_circle</i>
        </button>
      </div>
      
</mat-dialog-actions>
