<div class="welcome-container">
    <div class="welcome-text ">&nbsp;</div>
    
    <div class="public-welcome-sub size-18"> <span>Teamwork</span> in project management leads to increased efficiency and productivity.. </div>
    <div class="public-welcome-sub size-18"> Create a new Company to begin collaborating with your colleagues... </div>
    <div class="flex-wrap center-center size-18">
        <div class="public-btn" (click)="registerCompanyClick()">
            CREATE COMPANY
        </div>
    </div>
    <div class="public-welcome-sub mt-5 mb-5"> ... or join an existing one: </div>
    <div class="scroll-box-public flex-wrap">
        <sx-company-livery-name-card *ngFor="let company of companies"
            [company]="company" (click)="joinCompany(company)">
        </sx-company-livery-name-card>
       
    </div>
    
    
    
</div>
