<mat-card class="mat-logo">
    <mat-card-header>
        <mat-card-title>Logo</mat-card-title>
        <mat-card-subtitle matTooltip="A logo is a graphic mark used to 
            aid and promote public identification and recognition">
            A logo is a graphic mark used to 
            aid and promote public identification and recognition
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
        <div class="image-340">
            <img *ngIf="logoUrl;else noImageAvailable" [src]="logoUrl" >
            <ng-template #noImageAvailable >
                <img [src]="noLogoUrl" >
            </ng-template>
        </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex-align-items flex-space-between w-100">
        <div class="flex-start">
            <button *ngIf="canGenerate" mat-stroked-button 
                color="primary"
                [disabled]="canGenerate"
                (click)="generateLogoClick()"
                matTooltip="Generate Default Airline logo">
                Generate Logo
            </button>
        </div>
        <div class="flex-end">
            <button mat-stroked-button 
                color="primary"
                [disabled]="!(company.webUrl && company.webUrl.length > 8)"
                (click)="gotoWebSiteUrl()"
                matTooltip="Gp to company web site url">
                Web Site
            </button>
        </div>
    </div>
  </mat-card-actions>
  <!--
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
-->
</mat-card>