<!--
<div [@TogglePanelActionTrigger]='panelOut' class="filter-panel-action">
    <div class="filter-panel-header">
        <div class="fpleft"></div>
        <div class="fpright link-gray-r pb-1 pr-1">
            <i class="material-icons size-24" (click)="openPanelClick()">chevron_right</i>
        </div>
    </div>
</div>
-->
<div [@TogglePanelTrigger]='panelVar' class="card filter-panel">
    <!-- Panel Header -->
    <div class="filter-panel-header">
        <!-- Panel Header L -->
        <div class="fpleft">
            <i *ngIf="icon" class="material-icons size-24 pb-1">{{icon}}</i>
            <!--
            <div class="custom-control custom-switch">
            <input type="checkbox" checked="" class="custom-control-input" id="exampleSwitch" name="exampleSwitch">
            <label class="custom-control-label" for="exampleSwitch"></label>
            </div>
            -->
            <div class="flex-column w-100">
                <h4 class="pl-2 flex-align-items mb-0">{{fptitle}}</h4>
                <!--
                <div *ngIf="subtitle" class="link " (click)="subtitleClickEv()"
                    style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;">
                    {{subtitle}}
                </div>
                -->
            </div>
            <!--
            <h4 class="pl-2 flex-align-items mb-0">
            {{fptitle}}
                <div *ngIf="subtitle" class="link " (click)="subtitleClickEv()"
                    style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;">
                    {{subtitle}}
                </div>
            </h4>
            -->
        </div>
        <!-- Panel Header R -->
        <div class="fpright link-gray-r pb-1 pr-1">
            <!--
            <i class="material-icons size-24" (click)="closePanelClick()">chevron_left</i>
            
            <button class="btn btn-icon-only btn-text-dark" (click)="closePanelClick()">
                <i class="material-icons modus-icons">west</i>
            </button>
            -->
            <div mat-cell *ngIf="logoUrl" class="txt-ell-120 text-center">
                <psm-image-logo-td 
                    [id]="id" [imgUrl]="logoUrl"
                     tooltip="{{fptitle}} {{subtitle}}."
                     imgclass="livery-30">
                </psm-image-logo-td>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
    <!-- Panel Header 
    <div class="filter-panel-body">
        
    </div>
    -->
    <!-- Panel Header 
    <div class="filter-panel-footer">
        Panel Footer
    </div>
    -->
</div>