<div class="page-header" >
    <sx-back-button></sx-back-button>
    <div class="title">COMPANY USERS</div>
 </div>
 <hr class="mt-0">
 <div class="scroll-box-page flex-wrap w-100 p-2">
    <!--
        (editUser)="editUser($event)" (sendEmail)="sendEmail($event)"
    -->
    <psm-user-card  *ngFor="let user of users" 
        [user]="user" 
        (viewProfile)="gotoUserProfile($event)"
        (editUser)="editUser($event)">
    </psm-user-card>
</div>