
<sx-toolbar-main (snavToggle)="snavToggleClick()" [paneBtnHide]="true"></sx-toolbar-main>
<sx-main-menu 
    [isVisible]="user!== undefined">
</sx-main-menu>
<mat-sidenav-container class="psm-container">
    <!-- [@onSideNavChange]="sideNavState"  opened [mode]="snavmode"  -->
    <mat-sidenav #snav [mode]="snavmode" fixedTopGap="56">
        <sx-filter-panel   
            fptitle="COMPANY" icon="location_city"
            (closePanel)="snavToggleClick()"
            (openPanel)="snavToggleClick()">
           
        </sx-filter-panel>
        <!--
        <psm-sx-sidenav></psm-sx-sidenav>
        -->
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="psm-content">

            <div class="page-header">
                <div class="page-title mr-3 flex flex-align-items">
                    <i class="material-icons size-18 mr-2">perm_identity</i>  WELCOME {{userName | uppercase}}
                </div>
            </div>

            <div class="flex-align-items w-100 p-2">

                <div class="col-lg-3 col-sm-6 col-xs-12 pl-0 pr-3" *ngIf="company">
                    <div class="mini-charts-item bg-blue-light" 
                        [routerLink]="['/',roots.company]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
                        matTooltip="Go to Company" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart stats-bar">
                        
                                <img *ngIf="company" [src]="company.sxLogoUrl" alt="Company"/>
                                <!--
                                <canvas baseChart 
                                        [data]="state.pieChart.data"
                                        [labels]="state.pieChart.labels"
                                        [options]="state.pieChart.options"
                                        [colors]="state.pieChart.colors"
                                        [chartType]="'pie'"
                                        [legend]="false"
                                        style="display: block;height: 55px;width: 95px;"
                                    ></canvas>
                                -->
                            </div>
                            
                            <div class="count" >
                                <small>COMPANY </small>
                                <h2 >{{company.name}} <span>{{company.branch | truncate:10}}</span></h2>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div *ngIf="user" class="col-lg-3 col-sm-6 col-xs-12 pl-0 pr-3" 
                    (click)="gotoCompanyProfile(user)">
                    <div class="mini-charts-item bg-teal"  
                        matTooltip="Edit User Profile" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart-avatar">
                                <img [src]="avatarUrl" alt="{{user.email}}"/>
                            </div>
                            
                            <div class="count" >
                                <small>USER</small>
                                <h2 *ngIf="user.name">{{user.name}}</h2>
                                <h2 *ngIf="!user.name">{{user.email}}</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>