
/*------------------------------------------------*/
/*  GLOBAL                                        */
/*------------------------------------------------*/
html,
body {
    color:$font;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: $font-stack;
    background-color: $page-backdrop;
}

button {
    font-family: $font-stack;
    &:focus {outline:0;}
}

ul {
     list-style-type: none;
 }

h5{
    color: #ff00ff;
}

* { box-sizing:border-box;}

.back-drop {
    @include placement(fixed);
    @include size(100%, 100vh);
    background-color: $page-backdrop;
    z-index: -1;
}
/*------------------------------------------------*/
/*  TOOLTIP                                       */
/*------------------------------------------------*/
.mat-tooltip {
    font-size: 12px!important;

    min-width: 220px;
    padding: 5px 8px;
    color: #fff!important;
    text-align: center;
    background-color: $blue-main!important;
    border-radius: .25rem;

  }

/*------------------------------------------------*/
/*   QUICK WIDTH - HEIGHT                         */
/*------------------------------------------------*/
.h{
    &-100{
        height: 100%!important;
    }
    &-60{
        height: 60px;
    }
    &-50{
        height: 50px;
    }
    &-40{
        height: 40px;
    }
    &-30{
        height: 30px;
    }
    &-20{
        height: 20px;
    }
    &-16{
        height: 16px;
    }
    &-10{
        height: 10px;
    }
    &-auto{
        height: auto;
    }
}

.w{
    &-30{
        width: 30%;
    }
    &-40{
        width: 40%;
    }
    &-50{
        width: 50%;
    }
    &-60{
        width: 60%;
    }
    &-70{
            width: 70%;
    }
    &-100{
        width: 100%;
    }
    &-200p{
        width:200px;
    }
    &-250p{
        width:250px;
    }
    &-300p{
        width:300px;
    }
}