
.mini-charts-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    height: 100%!important;
    margin-bottom: 16px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 8px;
    border-radius: 4px;
    
    .chart {
        display: block;
        position: relative;
        padding: 0px;
        float: left;
        width: 88px;
        height: 68px;
        text-align: center;
        &-avatar{
            @extend .chart;
            & img{
                border-radius: 50%!important;
            }
        }
        &.chart-pie {
            margin: 0px;
        }
        & img{
            display: inline-block; 
            max-width: 68px; 
            max-height: 68px;
            vertical-align: top;
        }
    } 
    
    .count {
        overflow: hidden;
        color: rgba(255, 255, 255, 0.9);
        padding: 0px;
        
        & > h2 {
            margin: 0;
            line-height: 100%;
            font-size: 22px;
            font-weight: 300;
            color: #fff;   
            text-align: end;
            span{
                @include text-overflow();
                font-size: 14px;
                font-weight: 300;
                max-width: 40px;
            }
        }
        
        & > small {
            margin-bottom: 22px;
            margin-left: 16px;
            display: block;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .info{
            @include text-overflow();
            display: flex;
            @extend .flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
        
        & > h2,
        & > small {
            @include text-overflow();
        }
    }
    
    
    
    & > .clearfix {
        position: relative;
        z-index: 1;
    }
    
    &:before {
        @include transition(width);
        @include transition-duration(500ms);
        @include backface-visibility(hidden);
        content: "";
        width: 106px;
        height: 100%;
        background: rgba(0,0,0,0.1);
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &:hover {
        @include card-shadow-hover();
        transition: box-shadow 1s;
        cursor: pointer;
        .count {
            color: #fff !important;
        }
        
        &:before {
            width: 100%;
        }
    }
}