

$overlay-green: rgba(0, 204, 0, 0.849);
$overlay-blue: rgba(53, 68, 151, 0.849);
$overlay-brown: rgba(198, 140, 83, 0.849);
$overlay-yellow: rgba(255, 204, 0, 0.849);
$overlay-orange: rgba(255, 139, 0, 0.849); 
$overlay-blue-light: rgba(0, 128, 179, 0.849);


.bg{
    &-mfr{
        background-image: url('/assets/images/common/mfr.jpg');
        background-size: cover;
    }
    &-distr{
        background-image: url('/assets/images/common/storage-small.jpg');
        background-size: cover;
    }
    &-contr{
        background-image: url('/assets/images/common/contractor-bg-01.jpg');
        background-size: cover;
    }
    &-blue{
        background: $overlay-blue linear-gradient(
            180deg, lighten($overlay-blue, 15%), $overlay-blue) repeat-x !important;
    }
    &-blue-light{
        background: $overlay-blue-light linear-gradient(
            180deg, lighten($overlay-blue-light, 15%), $overlay-blue-light) repeat-x !important;
    }
    &-brown{
        background: $overlay-brown linear-gradient(
            180deg, lighten($overlay-brown, 15%), $overlay-brown) repeat-x !important;
    }
    &-yellow{
        background: $overlay-yellow linear-gradient(
            180deg, lighten($overlay-yellow, 15%), $overlay-yellow) repeat-x !important;          
    }
    &-orange{   
        background: $overlay-orange linear-gradient(
            180deg, lighten($overlay-orange, 15%), $overlay-orange) repeat-x !important;       
    }
    &-green{   
        background: $overlay-green linear-gradient(
            180deg, lighten($overlay-green, 15%), $overlay-green) repeat-x !important;        
    }
}

