
/*----------------------------------------------------*/
/*  FILTER PANEL : The filter panel is the left panel */
/*----------------------------------------------------*/

.filter-panel-wrapper{
    height: auto;
    overflow: scroll;
}


.filter-panel{
    @include size(320px);
    @include placement(fixed, 60px,null,0,70px);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    &-no-scroll{
        @extend .filter-panel-container;
        overflow-y: hidden;
    }

    &-header{
        @include flex-space-between;
        margin-top: 8px;
        align-items: center;
        padding: 0px 4px 0px 4px;
        min-height: 37px;

        & > .k-icon{
            padding-top: 2px;
        }

        .fpright{
            @include flex-end;
        }
        .fpleft{
            @include flex-start;
            @include flex-space-between;
        }
        
    }
    &-body{
        @include text($f-14px);
        height: 300px;
        padding: 0px 4px 0px 4px;
        height: calc(100vh - 140px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    &-footer{
        @include flex-space-between;
        padding: 0px 4px 0px 4px;
    }

    &-action{
        @include size(45px);
        @include placement(absolute, 0px,null,0,0px);
        z-index: 3;
        overflow-x: hidden;
        overflow-y: hidden;

        &-header{
            @include flex-space-between;
            margin-top: 8px;
            align-items: center;
            padding: 0px 4px 0px 4px;

            & > .k-icon{
                padding-top: 2px;
            }
    
            .fpright{
                @include flex-end;
            }
            .fpleft{
                @include flex-start;
                @include flex-space-between;
            }
        }
    }

    &-clear-button-container{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        min-height: 30px;
    }
    &-container{
        @include size(320px);
        @include placement(fixed, 50px,null,0,70px);
        z-index: 3;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
        &-no-scroll{
            @extend .filter-panel-container;
            overflow-y: hidden;
        }
    }
    &-containerorg{
        @include size(320px);
        @include placement(fixed, 50px,null,0,70px);
        z-index: 3;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
        bottom: 0px!important;
        &-no-scroll{
            @extend .filter-panel-container;
            overflow-y: hidden;
            bottom: 0px!important;
        }
    }
    &-row{
        @include flex-space-between;
        position: relative;
        &-strong{
            font-weight: 600;
            color: $yellow-main!important;
            font-style: underline;
        }
    }
    &-number{
        padding-top: 8px;
        display: flex;
        & > ts-format-control{
            @include placement(absolute, 0, -4px);
        }
    }
    &-label{
        padding-top: 8px;
        display: flex;
        margin-right: 45px;
        & > ts-format-control{
            @include placement(absolute, 0, -4px);
        }
    }
   
    &-title{
        @include flex-space-between;
        align-items: center;
        padding-left: 10px;
    }
    &-section{
        padding: 0px 10px 0px 10px;
        &-body{
            @include text($f-14px);
            padding-left: 10px;
            ul{
               padding-left: 0px;
            }
        }
    }
    &-hr{
        @include size(100%);
    }
    &-search-dropdown{
        right: -49px;
        left: auto !important;
    }
}