// ==================================================
// ICONS
// ==================================================

// Icon size
// 18dp 24dp 36dp 48dp

.icon-18 {
  @include icon(18);
}

.icon-24 {
  @include icon(24);
}

.icon-36 {
  @include icon(36);
}

.icon-48 {
  @include icon(48);
}

.cflag{
 // @include square(40px);
 width: 40px;
 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
 border: 1px solid rgba(255, 190, 0, 0.15);
  & > img{
    width: 32px;
    height: 24px;
  }

  &:hover {
    @include card-shadow-hover();
    transition: box-shadow 1s;
  }
}

.flag {
  margin: 0px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 190, 0, 0.15);
  &-36{
    @extend .flag;
    width: 48px;
    height: 36px;
  }
  &-30{
    @extend .flag;
    width: 40px;
    height: 30px;
  }
  &-24{
    @extend .flag;
    width: 32px;
    height: 24px;
  }
  &-18{
    @extend .flag;
    width: 32px;
    height: 24px;
  }
  &-16{
    @extend .flag;
    width: 21px;
    height: 16px;
  }
  &-14{
    @extend .flag;
    width: 19px;
    height: 14px;
  }
  &-12{
    width: 16px;
    height: 12px;
  }
  &:hover {
    @include card-shadow-hover();
    transition: box-shadow 1s;
  }
}
/*
.flag-36{
  width: 48px;
  height: 36px;
  margin: 0px 5px;
}

.flag-30{
  width: 40px;
  height: 30px;
}
.flag-18{
  width: 32px;
  height: 24px;
}
.flag-18{
  width: 24px;
  height: 18px;
}
.flag-16{
  width: 21px;
  height: 16px;
}

.flag-14{
  width: 19px;
  height: 14px;
}
.flag-12{ 
  width: 16px;
  height: 12px;
}
*/
// Descriptor icons  example: neca labor icon
.descriptor-icons{
  @include size(31px,16px);
}



.descriptor-square-icons{
  @include square(25px);
}

.bg-w-r{
  height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    justify-content: space-around;
}
