.mat-dialog{
    &-container {
        position: relative;
        margin: 0px!important;
        overflow: hidden!important;

        .mat-form-field{
            font-size: 16px!important;
        }
        .mat-form-field-prefix, 
        .mat-form-field-suffix{
            color:$gray-dark;
            .mat-icon{
                font-size: $f-16px!important;
            }
           
        }
        .close{
            @include placement(absolute,4px, 12px, null, null);
            @include size(30px, 30px);
            @include flex-center;
            padding: 10px;
            font-size: $f-24px;
            color: $gray-light;
            &:hover{
                color: $blue-dark;
                cursor: pointer;
            }
        }
        .header-bkg{
            @include placement(absolute,-0, -0, null, null);
            background-color: $light-blue;
            width: 100%;
            height: $main-nav-height;
        }
    }
    &-title{
        color:white;
        position: relative;
        line-height: 0.7;
        margin-top: -8px!important;
        span {
            display: block;
            clear: both;
            font-size: $f-12px;
            @extend .thin;
            margin-top: 8px!important;
          }
        
    }
} 
