/*------------------------------------------------*/
/*  1. VARIABLES                                  */
/*  2. MAIN HEADER  (LOGO)                        */
/*  3. MOBIE NAVIGATION                           */
/*  4. LOGOS                                      */
/*  5. MAIN MENU ( SIDE BAR )                     */
/*  6. WHEELBARROW                                */
/*  7.BREAD CRUMBS                                */
/*                                                */
/*                                                */
/*                                                */
/*------------------------------------------------*/



/*------------------------------------------------*/
/*  MAIN Content  (LOGO)                           */
/*------------------------------------------------*/
.main {  
    &-container {
        @include placement(relative, 0px, 0, 0, 0px);
        width: 100%;
        height: 100%;
    }
}
/*------------------------------------------------*/
/*  MAIN HEADER  (LOGO)                           */
/*------------------------------------------------*/
.main-nav{
    &-container {
        background-color: $blue-main;
        @include flex-space-between;
        height: $main-nav-height;
        padding: 0px 0px 0px 16px!important;
    }
   
    //Generl Main-Nav icons
    &-icon{
         background-color: $blue-dark;
         @include size(73px, $main-nav-height);
         padding: 18px 0px 0px 23px;
         &:hover{
             background-color: $yellow-main;
             cursor: pointer;
         }
    }
    //Generl Main-Nav links
    &-links {
        color: #fff;
        display: flex;
        margin-right: 8px;
        
        & .material-icons{
            @include text(24px, $nav-link);
            &:hover{
                color:$nav-link;
                cursor: pointer;
            } 
        }
        @include lrg-window {
            & { display: none; }
        }
        //removes drop-down carrot.
        .dropdown-toggle::after{
            content: none;
        }  
    }
    // Notification Link
    &-notication{
        position: relative;
        display: flex;
        align-items: center;
        background-color: $blue-dark;
        padding-right: 8px;

        &-icon{
            background-color: $blue-dark;
            @include size(73px, $main-nav-height);
            padding: 18px 0px 0px 23px;
            &:hover{
                cursor: pointer;
                background-color: $yellow-main;
            }
        }
        & .mat-icon-button{
            &:hover{
                cursor: pointer;
                background-color: $yellow-main;
            }
        }
        &-indicator{
            @include placement(absolute, 8px, null, null, 32px);
            @include text(15px, #fff);
            background: $red;
            border-radius: 14px;
            @include size(22px, 22px);
            padding-left: 6px;
            &:hover{
               cursor: pointer;
               background-color: $red-light;
            }  
        }
        &:hover{
            &-icon{
                background-color: $yellow-main;
            }
        }
    }
    &-mobile{
        display: none;
        padding: 6px 13px 0px 0px;
         @include lrg-window {
            & { display: block; }
        }
        &-drop-down{
            background: $blue-main;
            @include placement(fixed,0px,null, null, 0px);
            @include square(100%);
            padding:15px;
            margin:0;
            z-index: 2000;
        }
    }
}// end .main-nav


/*------------------------------------------------*/
/*  MOBIE NAVIGATION                              */
/*------------------------------------------------*/
.sub-nav-mobile{
    display: none;
    padding: 6px 0px 0px 0px;
        @include lrg-window {
        & { display: block; }
    }
}
 
/*------------------------------------------------*/
/*  LOGOS                                         */
/*------------------------------------------------*/
.main-logo{
    padding: 0px 0px 0px 14px;
    height: 42px;
    vertical-align: text-top;
}

.secondary-logo{
    padding: 8px;
    height: 57px;
    @include med-window {
        display: none;
    }
}

.beta-logo{
    color:#fff;
    @include placement(absolute,8px, -30px);
}

/*------------------------------------------------*/
/*   MAIN MENU ( LEFT BAR )                       */
/*------------------------------------------------*/
.main-menu{
    @include size(70px, 100vh);
    background-color: $menu-background;
    @include placement(fixed, $main-nav-height, 0, 0, 0px);
    z-index: 1032;
    padding: 0px 20px;

    //Expand Link 
    &-expand{
        padding-top: 10px;
        @include text(30px, #fff);
        &:hover {
            color:$menu-text;;
            cursor: pointer;
        }
    }
    //Menu Links (single)
    &-links{
        list-style: none;
        padding: 2px 0px 0px 3px;
        li a{
            display: flex;
            padding-top: 32px;
            @include linx(#fff,$yellow-main, $yellow-main );
            text-decoration: none!important;
            &:hover > i {
                color: $yellow-main;
            }
        }
        .material-icons{
            font-size: $f-24px;
            color:$menu-text;
        }
    }
    //Menu Link (plural)
     &-link{
        padding: 2px 0px 0px 20px;
        font-size: 0.8750em;
        white-space: nowrap;
        &-active{
            & > .material-icons{
                color:$yellow-main;
            }
            & > .main-menu-link{
                color:$yellow-main;
            }
        }
    }
    &-overlay{
        z-index: 1031;
        @include placement(fixed, 0px, null, null, 0px);
        @include size(100%, 100%);
        background-color: $transparent;
    }
}// .main-menu

/*------------------------------------------------*/
/*   WHEELBARROW                                  */
/*------------------------------------------------*/
.wheelbarrow{
    height:25px;
    &-count{
        @include placement(absolute, 8px,null,null, -15px);
        color:$blue-main;
        background: $yellow-main;
        border-radius: 30px;
        font-size: 0.875em;
        line-height: 2em;
        text-align: center;
        height: 35px;
        min-width: 35px;
    }
    &-icon{
        background-color: $blue-dark;
        @include size(73px,60px);
        padding: 6px 8px 8px 23px;
        &:hover{
            cursor: pointer;
            background-color: $yellow-main;
        }
    }
}

/*------------------------------------------------*/
/*   BREAD CRUMBS                                 */
/*------------------------------------------------*/
.breadcrumbs{
    margin-bottom: 10px;
    font-size: $f-14px;
    color: $gray-dark;
    &-link{
      &:hover{
        color:$light-blue;
        cursor: pointer;
      }
    }
}
    