.scroll-box {
    height: 350px;
    background: $scroll-gray;
    margin-bottom:20px;
    padding: 10px 15px 150px 15px;
    overflow-y: auto;
    overflow-x: hidden;

    &-note{
        font-size: $f-14px;
        margin-left: 10px;
    }
    &-white{
        @extend .scroll-box;
        height: 300px;
        background: #fff;
        overflow-y: auto;
    }
    &-h270 {
        @extend .scroll-box;
        height: 270px;
        
        &-white {
            @extend .scroll-box-h270;
            background: #fff;
            overflow-y: auto;
            padding: 8px;
            margin-bottom: 4px;
        }
    }
    &-public{
        @extend .scroll-box;
        background: transparent;
    }

    &-page{
        @extend .scroll-box;
        @include calc-height(100vh, 116px);
    }
    
}