.psm-sidenav{
    &-container {
        display: flex;
        flex-direction: column;
        @include placement(absolute,$main-nav-height, 0px, 0px, 0px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex: 1;
      }
}
/*------------------------------------------------*/
/*  LINKS                                         */
/*------------------------------------------------*/
.dark-link{
  color: #ffffff;
  &:hover{
      cursor: pointer;
      color: $yellow-main;
  }
}

.link{
  color: $blue-main;
  &:hover{
      cursor: pointer;
      color: $yellow-main;
      & > .material-icons, & > span {
          color: $yellow-main;
          cursor: pointer;
      }
  }
  &-green{
      @extend .link;
      color: $green;
      & > .material-icons {
          color: $green;
          &:hover{
              cursor: pointer;
              color: $yellow-main;
          }
      }
  }
  &-orange{
      @extend .link;
      color: $orange-main;
      & > .material-icons {
          color: $orange-main;
          &:hover{
              cursor: pointer;
              color: $red-light;
          }
      }
  }
  &-red{
      @extend .link;
      color: $red-light;
      & > .material-icons {
          color:  $red-light;
          &:hover{
              cursor: pointer;
              color: $red;
          }
      }
  }
  &-gray{
      @extend .link;
      color: $font-color!important;
      &-r{
        @extend .link-gray;
        i, .material-icons {
            color: $font-color!important;
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.7);
            padding: 2px;
            &:hover{
                cursor: pointer;
                color: $yellow-main!important;
                border-color: $yellow-main;
            }
          }
      }
  }

  &-white{
    @extend .link;
    color: $white!important;
    &-r{
      @extend .link-gray;
      i, .material-icons {
          color: $white!important;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.8);
          padding: 0px;
          &:hover{
              cursor: pointer;
              color: $yellow-main!important;
              border-color: $yellow-main;
          }
        }
    }
}
  & > .material-icons, & > span {
      color: $blue-main;
      &:hover{
          cursor: pointer;
          color: $yellow-main;
      }
  }
}

.toast-container{
  font-weight: 300;
}
