<sx-toolbar-main [paneBtnHide]="true"></sx-toolbar-main>
<div class="public-content">
    <div *ngIf="!isLoggedIn"  class="public-content-left">
        <img class="public-logo" [src]="sxLogo" alt="SX">
        <div class="public-welcome">Welcome To <span class="regular">Project Story Manager</span></div>
        <div class="public-welcome-sub">Log in to access your account or create one today</div>
        <div class="public-btn" (click)="userRegisterModalShow()">
                CREATE ACCOUNT
        </div>
    </div>
    <div *ngIf="isLoggedIn"  class="public-content-left">
        <div *ngIf="user" class="user-card">
            <div class="user-card-panel">
                <div class="avatar">
                  <img src="{{avatarUrl}}" alt="user.id">
                </div>
               
            </div>
            <div class="user-card-row">{{userName}}</div>
        </div>
        
    </div>
    <div class="public-content-right" >
        <router-outlet></router-outlet>
    </div>
</div>
