.livery-name{
    position: relative;
    background: transparent;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 190, 0, 0.15);
    padding: opx;
    margin: 10px;
    height: 86px;
    width: 130px;
    &:hover{
        color: $yellow-main; //rgba(255, 190, 0, 0.30)
        box-shadow: 4px 4px 4px rgba(255, 190, 0, 0.30);
        border: rgba(255, 190, 0, 0.30) solid 1px;
        cursor: pointer;
    }
    .image{
        height: 30px;
        width: 130px;
        img {
            height: 30px;
        }
    }
    
    .title{
        display: grid;
        flex-wrap: wrap;
        align-content: flex-end;
        color: $yellow-main;
       /* @include ellipsis(100%);*/
        padding: 4px 8px;
        height: 56px;
        width: 100%;
    }
}