
.card-image {
    @extend .card;
    margin: 5px;
    padding: 2px;
    align-items: center;
    background-color: #fff;

    .card-body{
        width: 255px;
        height: 255px;
    }
    
    
    
    /*flex-direction: column;
    justify-content: center;
   opacity: 0.6;*/

    .active{
        border: 2px solid green;
    }
    :hover{
        cursor: pointer;
        background-color: #fffae6;
        /*background-color: #009AD9;*/
    }
}


.card-avatar {
    @extend .card;
    padding:10px;
    /*margin:10px;*/
    .card-body{
        @include square(450px);
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-width: 100%!important;
        }
    }
    .active{
        border: 2px solid green;
    }
    :hover{
        cursor: pointer;
        background-color: #fffae6;
        /*background-color: #009AD9;*/
    }
}

.image {
    &-wide{
        @include size(100%,auto);
        padding-top: 10px;
     }
    &-tall{
        @include size(auto, 100%);
        padding-top: 10px;
    }
    &-responsive{
        display: block;
        @include size(100%,auto);
    }
    &-14 {
        height: 14px;
        padding-right: 5px;
        vertical-align: sub;
    }
    &-12 {
        height: 12px;
        padding-right: 2px;
        vertical-align: sub;
    }
}

.ap-svg{
    background-color:transparent;
    border:none;
    @include size(22px,22px);
    &-48{
        @extend .ap-svg;
        @include size(48px,48px);
    }
    &-20{
        @extend .ap-svg;
        @include size(20px,20px);
    }
    &-18{
        @extend .ap-svg;
        @include size(18px,18px);
    }
    &-16{
        @extend .ap-svg;
        @include size(16px,16px);
    }
}

.border{
    &-b1{
        border-bottom: 1px solid $gray-dark; 
    }
}
/*------------------------------------------------*/
/*  MAT CARD                                      */
/*------------------------------------------------*/
.mat-card{
    &-header{
        width:100%;
        position: relative;
        &-text{
            @extend .mat-card-header;
        }
       
    }
    &-subtitle{
        @extend .ellipsis;
        width:100%;
        margin-bottom: 8px;
    }
    &-actions{
        width:100%;
    }
    /*
    &-actions {
        position: absolute; 
        right: 10px;
        z-index: 2; 
        top: -15px;
    }*/
    
}

.static-container{
    @extend .bg-selected;
}

.mat-logo{
    @include square(480px);
    .mat-card-header-text{
        margin: 0px;
        border-bottom: 1px solid $gray-dark; 
        .mat-card-subtitle{
            margin-bottom: 8px;
        }
    }
}
.image{
    &-340{
        @include square(340px);
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img{
            width: 100%;
            max-width: 100%!important;
            align-self: center;
            padding: 12px;
            justify-content: center;   
        }
    }
    &-410{
        @include square(410px);
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img{
            width: 100%;
            max-width: 100%!important;
            height: 100%;   
            max-height: 100%!important;
            align-self: center;
            padding: 12px;
            justify-content: center;   
        }
    }
    &-livery{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: auto;
        max-height: 75px!important;
        img{
            max-height: 75px!important;
            align-self: baseline;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
            border: 1px solid rgba(255, 190, 0, 0.15);

            &:hover{
                cursor: pointer;
                background-color: $yellow-main;
                @include card-shadow-hover();
                transition: box-shadow 1s;
            }
        }
        :hover{
            cursor: pointer;
            background-color: $yellow-main;
        }
    }
}



