/*------------------------------------------------*/
/*  GRADIENTS                                     */
/*------------------------------------------------*/
.user-card{
    @include size(380px, 220px);
    margin: 5px;
    padding: 10px!important;
    @extend .flex-col;
   
    &-body{
        height: 185px;
    }
    &-panel{
        position: relative;
        width: 100%;
        height: 160px;
        text-align: center;

        .avatar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            img {
                display: inline-block;
                border-radius: 50%;
                margin-right: 10px;
            }
            
      }
    }
    &-row{
        position: relative;
        text-align: center;
        width: 100%;
        color: white;
    }
      
    .mat-card-header{
        overflow: hidden;
    }
    
    .mat-card-image{
        //@include size(100px, 100px);
        max-height: 100px!important;
        max-width: 100px!important;
        margin-right: 12px;
        margin-top: 0px!important;
    }
  
    &-more {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ffffff;
      padding: 15px 15px 15px 15px;
      margin: -15px 0px 0px -20px;
    }
  
    .scroll-box {
      height: 162px;
      margin-bottom: 0px;
    }
}

.user-avatar {
    margin-right: 8px;

    [dir='rtl'] & {
      margin-left: 8px;
      margin-right: auto;
    }
  }