<div class="sxtable-container-full card mt-2 ml-0 mr-0 p-0 ">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1 f-w-300">Products</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    <!-- -->
                    <sx-button-round 
                        (click)="addPsmProduct()"
                        [disabled]="!canEdit"
                        message="Add Product"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let product" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="gotoProduct(product)"
                            [disabled]="!this.canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Product"> 
                        </sx-button-round>
                       
                            
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="editPsmProduct(product)"
                            matTooltip="Edit Product {{product.pmsProductId}}">
                            edit
                        </mat-icon>
                         <!--
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        -->
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="logoUrl" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-4 text-center">
                    <div class="flex-align-items image-16 w-100 text-center" 
                        matTooltip="Product Logo URL"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >insert_photo</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 text-center">
                    <psm-image-logo-td [id]="row.pmsProductId" [imgUrl]="row.logoUrl" tooltip="Product {{row.name}} logo."></psm-image-logo-td>
                    <!--
                    <ams-al-livery [alId]="row.logoUrl" tooltip="Logo"></ams-al-livery>
                    -->
                </td>
            </ng-container>
            <ng-container matColumnDef="psmProductId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 pr-1">
                        <div>{{row.psmProductId | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="psmProductKey" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 pl-2">Key</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <div class="flex-align-items">
                        <div>{{row.psmProductKey}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 pl-2">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200-sort  pr-3">
                    <div *ngIf="row.name"  class="flex-align-items w-100"
                        matTooltip="Product name: {{row.name}}" 
                        matTooltipPosition="above">
                        <div>{{row.name}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="webUrl" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 pl-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Product Web URL"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >travel_explore</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pr-3">
                        <div class="w-100">{{row.webUrl}}</div>
                    </div>
                </td>
            </ng-container>
            
            
            <ng-container matColumnDef="notes"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 pl-2">notes</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200 pl-2">
                    <div class="flex-align-items w-100">
                        {{row.notes}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="actorName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 pl-4">User</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100" >
                        <div class="mr-2">{{row.actorName }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="adate" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-center pr-1">
                    <div class="flex-align-items image-16 w-100 text-center" 
                        matTooltip="Created On "
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >event</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pr-1">
                        <div class="mr-1">{{row.adate  | date:'MMM d, y'}}</div>
                    </div>
                </td>
            </ng-container>
            
            
        <!--
           
            
            <ng-container matColumnDef="seatCrew" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 pl-2">Crue</th>
                <td mat-cell *matCellDef="let row" class="pl-2 text-right">
                    <div class="flex-align-items w-100">
                        <div *ngIf="row.seatCrew" class="mr-2 ml-1">{{row.seatCrew | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            
    
            <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="70px" class="text-center">Default</th>
                <td mat-cell *matCellDef="let row" class="text-center pr-5">
                    <ams-icon-ap-active [value]="row.isDefault" ></ams-icon-ap-active>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="maxIFEId" >
                <th mat-header-cell *matHeaderCellDef width ="120px">Max IFE</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.maxIFEId}}</div>
                    </div>
                </td>
            </ng-container>
        -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        showFirstLastButtons>
    </mat-paginator>
</div>