<div class="livery " matTooltip="{{tooltip}}" (click)="imageClick()" [ngClass]="imgclass">
    <img *ngIf="imgUrl;else noImage" [src]="imgUrl" alt="{{id}}"
        (load)="onImageLoad()" (error)="onImageError()" >
    <ng-template #noImage >
        <img [src]="noImageUrl">
    </ng-template>
</div>